{:paths ["src" "resources"]
 :min-bb-version "1.13.219"
 :deps
 {com.github.cldwalker/bb-dialog
  {:git/sha "e10f2d8461b3de4c521c1fcf71552f38c47f33da"}}

 :bbin/bin
 {bb-aws                        {:main-opts ["-m" "cldwalker.bb-clis.bin.bb-aws"]}
  bb-cli-test                   {:main-opts ["-m" "cldwalker.bb-clis.bin.bb-cli-test"]}
  bb-logseq-convert             {:main-opts ["-m" "cldwalker.bb-clis.bin.bb-logseq-convert"]}
  bb-missed-docstrings          {:main-opts ["-m" "cldwalker.bb-clis.bin.bb-missed-docstrings"]}
  bb-ns-dep-tree                {:main-opts ["-m" "cldwalker.bb-clis.bin.bb-ns-dep-tree"]}
  bb-project-clj                {:main-opts ["-m" "cldwalker.bb-clis.bin.bb-project-clj"]}
  bb-replace                    {:main-opts ["-m" "cldwalker.bb-clis.bin.bb-replace"]}
  bb-table                      {:main-opts ["-m" "cldwalker.bb-clis.bin.bb-table"]}
  bb-try                        {:main-opts ["-m" "cldwalker.bb-clis.bin.bb-try"]}
  bb-unused-vars                {:main-opts ["-m" "cldwalker.bb-clis.bin.bb-unused-vars"]}
  bb-update-lein-dependency     {:main-opts ["-m" "cldwalker.bb-clis.bin.bb-update-lein-dependency"]}
  bb-var-usages                 {:main-opts ["-m" "cldwalker.bb-clis.bin.bb-var-usages"]}
  gh-pr-for-commit              {:main-opts ["-m" "cldwalker.bb-clis.bin.gh-pr-for-commit"]}
  gh-repo                       {:main-opts ["-m" "cldwalker.bb-clis.bin.gh-repo"]}
  logseq-bookmark               {:main-opts ["-m" "cldwalker.bb-clis.bin.logseq-bookmark"]}
  logseq-graph-backup           {:main-opts ["-m" "cldwalker.bb-clis.bin.logseq-graph-backup"]}
  logseq-graph-grep             {:main-opts ["-m" "cldwalker.bb-clis.bin.logseq-graph-grep"]}
  logseq-graph-icons            {:main-opts ["-m" "cldwalker.bb-clis.bin.logseq-graph-icons"]}
  logseq-graph-stats            {:main-opts ["-m" "cldwalker.bb-clis.bin.logseq-graph-stats"]}
  logseq-prune-journals         {:main-opts ["-m" "cldwalker.bb-clis.bin.logseq-prune-journals"]}
  logseq-schema                 {:main-opts ["-m" "cldwalker.bb-clis.bin.logseq-schema"]}
  logseq-search-show            {:main-opts ["-m" "cldwalker.bb-clis.bin.logseq-search-show"]}
  logseq-search-upsert          {:main-opts ["-m" "cldwalker.bb-clis.bin.logseq-search-upsert"]}
  logseq-validate-class-extends {:main-opts ["-m" "cldwalker.bb-clis.bin.logseq-validate-class-extends"]}
  logseq-validate-no-todos      {:main-opts ["-m" "cldwalker.bb-clis.bin.logseq-validate-no-todos"]}}

 :tasks
 {repl
  ;; Couldn't just reference whole task as a map as `bb tasks` failed
  {:doc "Pull up socket repl with #'tasks/result bound to result of given task and args"
   :override-builtin true
   :requires ([cldwalker.bb-clis.tasks :as tasks])
   :task (tasks/repl *command-line-args*)}

  every-dir-shell
  {:exec-fn cldwalker.bb-clis.tasks/every-dir-shell
   :cli cldwalker.bb-clis.tasks/every-dir-shell-cli}

  json=
  {:exec-fn cldwalker.bb-clis.tasks/json=}

  edn=
  {:exec-fn cldwalker.bb-clis.tasks/edn=}

  data-diff
  {:exec-fn cldwalker.bb-clis.tasks/data-diff}

  brew-search-info
  {:exec-fn cldwalker.bb-clis.tasks/brew-search-info}

  update-gitlib
  {:extra-deps {borkdude/rewrite-edn {:mvn/version "0.1.0"}}
   :exec-fn cldwalker.bb-clis.tasks.rewrite-edn/update-gitlib}

  rdf-data
  {:exec-fn cldwalker.bb-clis.tasks.rdf-data/rdf-data}

  clone
  {:extra-deps {org.clojure/tools.gitlibs {:mvn/version "2.4.172"}}
   :exec-fn cldwalker.bb-clis.tasks.git/clone}

  var-sizes
  {:exec-fn cldwalker.bb-clis.tasks.clj-kondo/var-sizes}

  var-meta
  {:exec-fn cldwalker.bb-clis.tasks.clj-kondo/var-meta}

  ns-meta
  {:exec-fn cldwalker.bb-clis.tasks.clj-kondo/ns-meta}

  ;; From @borkdude
  http-server
  {:extra-deps {babashka/http-server
                {:git/url "https://github.com/babashka/http-server"
                 :git/sha "c7fefc73480ed82b4cc7401ca6e5b6ef1010d4ae"}}
   :doc "Run a basic http server"
   :exec-fn babashka.http-server/exec
   :cli cldwalker.bb-clis.tasks/http-server-cli}

  ;; From https://blog.michielborkent.nl/babashka-test-runner.html
  test
  {:extra-paths ["test"
                 ;; This is specific to bb-clis but this task can still be
                 ;; used for any bb repo
                 "test/resources"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :doc "Run tests with cognitect test runner"
   :exec-fn cognitect.test-runner.api/test
   :cli cldwalker.bb-clis.tasks/test-cli}

  ns-in-dir
  {:extra-deps {org.clojure/tools.namespace {:git/url "https://github.com/babashka/tools.namespace"
                                             :git/sha "3625153ee66dfcec2ba600851b5b2cbdab8fae6c"}}
   :exec-fn cldwalker.bb-clis.tasks.ns-in-dir/ns-in-dir}

  var-sexp
  {:exec-fn cldwalker.bb-clis.tasks.rewrite-clj/var-sexp}

  do-sh
  {:exec-fn cldwalker.bb-clis.tasks/do-sh}

  logseq:empty-files
  {:exec-fn cldwalker.bb-clis.tasks.logseq/empty-files}

  logseq:pages
  {:exec-fn cldwalker.bb-clis.tasks.logseq/pages}

  logseq:urls
  {:exec-fn cldwalker.bb-clis.tasks.logseq/urls}

  logseq:copy-entities
  {:exec-fn cldwalker.bb-clis.tasks.logseq/copy-entities}

  logseq:copy-files
  {:exec-fn cldwalker.bb-clis.tasks.logseq/copy-files}

  logseq:copy-common-pages
  {:exec-fn cldwalker.bb-clis.tasks.logseq/copy-common-pages}

  logseq:validate-common-pages
  {:exec-fn cldwalker.bb-clis.tasks.logseq/validate-common-pages}

  logseq:list-common-pages
  {:exec-fn cldwalker.bb-clis.tasks.logseq/list-common-pages}

  dev:bump-git-sha
  {:exec-fn cldwalker.bb-clis.tasks.dev/bump-git-sha}

  rdf:rdf-equal
  {:exec-fn cldwalker.bb-clis.tasks.rdf/rdf-equal}

  rdf:triples-count
  {:exec-fn cldwalker.bb-clis.tasks.rdf/triples-count}

  wc-l
  {:exec-fn cldwalker.bb-clis.tasks/wc-l}

  grep-result-frequencies
  {:exec-fn cldwalker.bb-clis.tasks/grep-result-frequencies}

  gh:checkout-pr-branch
  {:exec-fn cldwalker.bb-clis.tasks.github/checkout-pr-branch}

  bbin:install
  {:exec-fn cldwalker.bb-clis.tasks.bbin/install}

  bbin:uninstall
  {:exec-fn cldwalker.bb-clis.tasks.bbin/uninstall}

  bbin:build-completions
  {:exec-fn cldwalker.bb-clis.tasks.bbin/build-completions}

  bb:build-completions
  {:exec-fn cldwalker.bb-clis.tasks.bb/build-completions}}}
