{:paths ["src"]
 ;; babashka.cli needed for bbin-install bins which use :local/root
 :deps {org.babashka/cli {:mvn/version "0.12.76"}}
 :aliases
 {:clj-kondo
  {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2026.05.25"}}
   :main-opts  ["-m" "clj-kondo.main"]}
  :outdated
  {:replace-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core" "--exclude" "com.github.liquidz/antq"]}}}
